/.vs
/.vscode
/GameServers.Application/bin
/GameServers.Application/obj
/GameServers.Domain/obj
/GameServers.Infrastructure/bin
/GameServers.Infrastructure/obj
/GameServersApi/bin
/GameServersApi/obj
/GameServers.Domain/bin